    <script src="{{ base_url() }}vendor/metisMenu/metisMenu.min.js"></script>
    <script>
        $('#datetimepicker6').datetimepicker({
            locale: 'pl',
            format:'YYYY-MM-DD HH:mm:ss',
        });
        $('#datetimepicker7').datetimepicker({
            useCurrent: false, //Important! See issue #1075
            locale: 'pl',
            format:'YYYY-MM-DD HH:mm:ss',
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    </script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ base_url() }}dist/js/sb-admin-2.js"></script>

</body>

</html>
